<html>
<body style="background-color:rgb(17, 17, 17);">
    <h1 style="text-align:center;color:white;font-size:300%;">My Test Page from <span style="color:rgb(160, 15, 15);"><b>{{ SERVER_NAME }}</b></span> </h1>
    <p style="text-align:center;color:rgb(255, 255, 255);font-size:160%">This is created using Ansible with httpd role</p>
</body>
</html>