<html>
<body style="background-color:rgb(17, 17, 17);">
    <h1 style="text-align:center;color:#ffffff;font-size:300%;">My Test Page</h1>
    <p style="text-align:center;color:white;font-size:160%">This page is generated using jinja template :)</p>
    <p style="text-align:center;color:white;font-size:160%">This page is from <span style="color:rgb(160, 15, 15);"><b>{{ SERVER_NAME }}</b></span> which is a <span style="color:rgb(160, 15, 15);"><b>{{OS_DISTRIBUTION}}</b></span> server and the OS version is <span style="color:rgb(160, 15, 15);"><b>{{OS_VERSION}}</b></span> </p> 
</body>
</html>